:root {
  --color-background-primary: #ffffff;
  --color-background-secondary: #f5f4fa;
  --color-background-footer: #2f303a;
  --color-p: #757575;
  --color-text-title: #212121;
  --color-accent: #2196f3;
  --color-logo: #000000;
  --color-hover: #188ce8;
  --font-main: "Roboto", sans-serif;
  --font-logo: "Raleway", sans-serif;
}
